---
export interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Sandbox SDK',
  description = "Run sandboxed code environments on Cloudflare's edge network",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sandbox.cloudflare.com/" />
    <meta property="og:image" content="https://sandbox.cloudflare.com/og.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1404" />
    <meta property="og:image:height" content="875" />
    <meta property="og:image:alt" content="Sandbox SDK" />
    <meta property="og:site_name" content="Sandbox SDK" />

    <!-- Twitter -->
    <meta
      name="twitter:card"
      content="Cloudflare Sandboxes on Region: Earth."
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://sandbox.cloudflare.com/og.png"
    />
    <meta name="twitter:image:alt" content="Sandbox SDK" />
    <meta name="twitter:site" content="@CloudflareDev" />

    <!-- Preload fonts -->
    <link
      rel="preload"
      href="/fonts/inter/Inter.var.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/inter/Inter-Italic.var.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased bg-background font-sans">
    <slot />
  </body>
</html>

<style is:global>
  @import '../globals.css';
</style>

